<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Colourdelete's Blog{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('pages', page='w3.css') }}">
        {% block head_add %}{% endblock %}
    </head>
    <body>
        <div class="w3-bar w3-light-grey" style="display: block;">
            <a href="/" class="w3-bar-item w3-button w3-mobile">
                <img src="{{ url_for('pages', page='blog-logo.png') }}" style="height: 1em; border-radius: 50%;" />
                Colourdelete's Blog
            </a>
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
